@model BeFit.Models.Statistic

@{
    ViewData["Title"] = "Create";
}

<h1>Dodaj</h1>

<h4>Statystyki</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExerciseName" class="control-label"></label>
                <input asp-for="ExerciseName" class="form-control" />
                <span asp-validation-for="ExerciseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfSessions" class="control-label"></label>
                <input asp-for="NumberOfSessions" class="form-control" />
                <span asp-validation-for="NumberOfSessions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BestResult" class="control-label"></label>
                <input asp-for="BestResult" class="form-control" />
                <span asp-validation-for="BestResult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
